@media screen and (max-width: 374px) {
  .hero .bg-intro {
    background-size: 300px !important;
  }

  p {
    font-size: 1em !important;
  }

  h1 {
    font-size: 2.4em !important;
  }

  h4 {
    padding-left: 0.6em !important;
    font-size: 1em !important;
  }

  input {
    width: 50% !important;
    font-size: 0.8em !important;
  }

  .attribution {
    font-size: 0.7em !important;
  }
}
body {
  font-family: "Be Vietnam", sans-serif;
  margin: 0;
}

.is-hidden {
  display: none !important;
}

/********** MIXIN's ***********/
.header .wrapper {
  position: relative;
  z-index: 99;
}
.header .wrapper .header-content {
  padding: 2em;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .wrapper .header-content .header-logo {
  height: 1.5em;
}
.header .wrapper .header-content .menu {
  display: flex;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header .wrapper .header-content .menu-checkbox {
  display: none;
}
.header .wrapper .header-content .menu-checkbox:checked ~ .menu-button {
  background: url("../../images/icon-close.svg") center center no-repeat;
}
.header .wrapper .header-content .menu-checkbox:checked ~ .menu {
  display: block;
  position: absolute;
  top: 100%;
  padding: 1em;
  left: 0em;
  right: 0em;
  height: 100vh;
  background: linear-gradient(to bottom, transparent 0%, #1d1e25 200%);
}
.header .wrapper .header-content .menu-checkbox:checked ~ .menu .menu-item {
  text-align: center;
  background-color: white;
  padding: 0.7em 0;
  margin: 0 2em;
}
.header .wrapper .header-content .menu-checkbox:checked ~ .menu .menu-item:first-of-type {
  border-radius: 5px 5px 0 0;
  padding-top: 3em;
}
.header .wrapper .header-content .menu-checkbox:checked ~ .menu .menu-item:last-child {
  padding-bottom: 3em;
  border-radius: 0 0 5px 5px;
}
.header .wrapper .header-content .menu-checkbox:checked ~ .menu a {
  text-decoration: none;
  color: #1d1e25;
  font-weight: 700;
}
.header .wrapper .header-content .menu-button {
  height: 40px;
  width: 40px;
  background: url("../../images/icon-hamburger.svg") center center no-repeat;
}
.header .wrapper .header-content button {
  display: none;
}

.hero {
  text-align: center;
}
.hero .partner {
  position: absolute;
  z-index: 2;
  top: -50px;
  width: 100%;
  height: 500px;
  background: url("../../images/bg-tablet-pattern.svg") top -80px left 55px no-repeat;
  background-size: cover;
}
.hero .bg-intro {
  position: relative;
  z-index: 3;
  top: -0.5em;
  height: 390px;
  background: url("../../images/illustration-intro.svg") center center no-repeat;
  background-size: 350px;
}
.hero .wrapper {
  width: 90%;
  margin: auto;
}
.hero h1 {
  margin-top: -0.5em;
  font-size: 2.9em;
  padding: 0;
  margin: auto;
  list-style: none;
  line-height: 1.2em;
  font-weight: 800;
  text-align: center;
  color: #242d52;
}
.hero p {
  width: 95%;
  margin: auto;
  padding: 1em 0;
  font-weight: 400;
  font-size: 1.2em;
  color: #9095a7;
  line-height: 1.8em;
  text-align: center;
}
.hero .img-partner {
  position: absolute;
  bottom: -250px;
  z-index: -1;
  height: 310px;
  width: 94.9%;
  margin: 0;
  margin: auto;
  background: url("../../images/bg-tablet-pattern.svg") center left 230px no-repeat;
  background-size: contain;
}
.hero button {
  padding: 1em 2.1em;
  background-color: #f25f3a;
  color: white;
  border-radius: 30px;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  font-size: 1em;
  border: none;
  letter-spacing: 0.1em;
  box-shadow: 1px 10px 10px rgba(245, 155, 132, 0.5);
  margin-top: 1.5em;
}

.about {
  margin-top: 6em;
}
.about h2 {
  padding: 0;
  margin: auto;
  list-style: none;
  line-height: 1.2em;
  font-weight: 800;
  text-align: center;
  color: #242d52;
  width: 80%;
  font-size: 2.5em;
  line-height: 1.5em;
}
.about p {
  width: 95%;
  margin: auto;
  padding: 1em 0;
  font-weight: 400;
  font-size: 1.2em;
  color: #9095a7;
  line-height: 1.8em;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .about h2 {
    font-size: 2em;
  }
}

.titulares .wrapper {
  padding-left: 1em;
}
.titulares .wrapper .header-titular {
  height: 2.7em;
  border-radius: 20px 0 0 20px;
  background-color: #ffefeb;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.titulares .wrapper .header-titular strong {
  height: 1em;
  color: white;
  font-weight: 500;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  padding: 0.5em 1.3em;
  padding-bottom: 0.7em;
  border-radius: 20px;
  background-color: #f25f3a;
}
.titulares .wrapper .header-titular h4 {
  padding-bottom: 0.2em;
  padding-left: 1em;
  font-size: 1.1em;
  font-weight: 800;
  color: #242d52;
}
.titulares .wrapper p {
  width: 95%;
  margin: auto;
  padding: 1em 0;
  font-weight: 400;
  font-size: 1.2em;
  color: #9095a7;
  line-height: 1.8em;
  text-align: center;
  text-align: left;
  font-size: 1.03em;
  line-height: 1.7em;
  margin-bottom: 3em;
}

.slide-comment .wrapper {
  margin: 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide-comment .wrapper button {
  margin: 3em 0 !important;
  padding: 1em 2.1em;
  background-color: #f25f3a;
  color: white;
  border-radius: 30px;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  font-size: 1em;
  border: none;
  letter-spacing: 0.1em;
  box-shadow: 1px 10px 10px rgba(245, 155, 132, 0.5);
  margin-top: 1.5em;
}
.slide-comment .wrapper h2 {
  padding: 0;
  margin: auto;
  list-style: none;
  line-height: 1.2em;
  font-weight: 800;
  text-align: center;
  color: #242d52;
  font-size: 2.3em;
  margin-bottom: 4em;
}
.slide-comment .wrapper .slide-page {
  display: flex;
  justify-content: center;
}
.slide-comment .wrapper .slide-page span {
  border-radius: 100%;
  height: 0.8em;
  width: 0.8em;
  border: 1px solid #f25f3a;
  margin: 0 0.2em;
  background-color: white;
}
.slide-comment .wrapper .slide-container .commets-cards {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-rows: 70px 30px 1fr;
  background-color: #fafafa;
  margin-bottom: 2em;
  height: 250px;
  animation: slider 0.3s ease-in-out;
}
.slide-comment .wrapper .slide-container .commets-cards img {
  margin: 0;
  margin: auto;
  height: 70px;
  margin-top: -35px;
}
.slide-comment .wrapper .slide-container .commets-cards strong {
  margin: 0;
  font-size: 1.1em;
}
.slide-comment .wrapper .slide-container .commets-cards p {
  margin: 0;
  margin: 0 1em;
  color: #9095a7;
}
@media screen and (max-width: 375px) {
  .slide-comment .wrapper h2 {
    font-size: 1.8em;
  }
}

@keyframes slider {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.simplify {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: contain;
  backface-visibility: 0.2;
  background-color: #f25f3a;
}
.simplify h1 {
  padding: 0;
  margin: auto;
  list-style: none;
  line-height: 1.2em;
  font-weight: 800;
  text-align: center;
  color: #242d52;
  color: white;
  font-weight: 600;
  margin: 0;
  padding: 0;
  width: 85%;
  font-size: 2.7em;
}
.simplify button {
  padding: 1em 2.1em;
  background-color: #f25f3a;
  color: white;
  border-radius: 30px;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  font-size: 1em;
  border: none;
  letter-spacing: 0.1em;
  box-shadow: 1px 10px 10px rgba(245, 155, 132, 0.5);
  margin-top: 1.5em;
  box-shadow: none;
  background-color: white;
  color: #f25f3a;
  font-weight: 700;
  margin: 2em 0;
}
.simplify .imagen {
  position: absolute;
  left: -450px;
  width: 550px;
  height: 550px;
  z-index: 0;
  background: url("../../images/bg-tablet-pattern.svg") top 100px center no-repeat;
  background-size: contain;
  opacity: 0.1;
  /* img {
    height: 500px;
  } */
}

footer {
  background-color: #1d1e25;
}
footer .container-form form {
  padding: 3em 0;
  display: flex;
  justify-content: center;
}
footer .container-form form input {
  width: 60%;
  border-radius: 50px;
  outline: none;
  border: none;
  padding-left: 2em;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}
footer .container-form form button {
  margin-left: 1em;
  padding: 1.1em 2em;
  border: none;
  border-radius: 50px;
  background-color: #f25f3a;
  color: white;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
}
footer .enlaces-container {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .enlaces-container ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(40px, auto);
  justify-content: center;
  align-items: center;
  grid-column-gap: 3em;
  color: #fafafa;
  list-style: none;
}
footer .enlaces-container ul li.uno {
  grid-column: 1/1;
  grid-row: 1/1;
}
footer .enlaces-container ul .dos {
  grid-column: 1/1;
  grid-row: 2/2;
}
footer .enlaces-container ul .tres {
  grid-column: 1/1;
  grid-row: 3;
}
footer .enlaces-container ul .cuatro {
  grid-column: 1/1;
  grid-row: 4;
}
footer .social ul {
  display: flex;
  padding: 2em 0em;
  justify-content: center;
}
footer .social ul li {
  margin: 0 1.3em;
}
footer .social ul li img {
  height: 25px;
}
footer li {
  list-style: none;
}
footer .logo {
  display: flex;
  justify-content: center;
  margin: 3em 0;
}
footer .copyright {
  text-align: center;
  color: #9095a7;
}
footer .copyright a {
  color: #f25f3a;
  text-decoration: none;
}
footer .copyright .attribution {
  color: white;
  font-size: 0.9em;
  padding: 2em 0;
}

button:hover,
a:hover {
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
